[Unit]
Description=Moxi Server
After=network.target remote-fs.target nss-lookup.target

[Service]
User=moxi
Group=moxi
LimitNOFILE=10240
LimitCORE=infinity
EnvironmentFile=-/etc/sysconfig/moxi-server
ExecStart=/opt/moxi/bin/moxi $OPTIONS -P /opt/moxi/moxi.pid -Z /opt/moxi/etc/moxi.cfg -z /opt/moxi/etc/moxi-cluster.cfg

[Install]
WantedBy=multi-user.target
